In [30]:
import numpy as np
import matplotlib.pyplot as plt
from numpy import linalg as la
import pandas as pd

In [31]:
pelis = pd.read_csv('ratings_exam.csv')

In [32]:
pelis.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [62]:
pelis_examen = pelis.pivot_table(index='userId', columns='movieId', values='rating', fill_value=0)

In [63]:
pelis_examen.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

KeyError: 'userId'

In [42]:
M = pelis_examen.to_numpy()
#pasar filas a columnas y columnas a filas
M = M.T

In [44]:
peliculas, usuarios = M.shape
print(f"El número de películas es {peliculas} y el número de usuarios es {usuarios}")

El número de películas es 9724 y el número de usuarios es 610

In [45]:
#Películas normalizadas por filas MN
MN= (M.T/la.norm(M.T,axis=0)).T
print(MN)

[[0.06805615 0.         0.         ... 0.0425351  0.05104211 0.08507019]
 [0.         0.         0.         ... 0.05383331 0.         0.        ]
 [0.16205492 0.         0.         ... 0.08102746 0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [46]:
#Matriz de similitud entre películas
S=MN@MN.T
print(S)

[[1.         0.41056206 0.2969169  ... 0.         0.         0.        ]
 [0.41056206 1.         0.28243799 ... 0.         0.         0.        ]
 [0.2969169  0.28243799 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         1.         0.        ]
 [0.         0.         0.         ... 1.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [65]:
#Realiza una función de recomendación apropiado para determinar a cuántos usuarios le recomendarías la película con Id 318.
def recomendacion(peli):
    x= np.round(S[peli-1:peli,:] @ M, 3)
    x[M[peli-1:peli,:]!=0] = 0
    return pelis_examen.columns[np.argsort(x)[0,-5:]]

In [66]:
#utilizar el método de recomendación para determinar a cuántos usuarios le recomendarías la película con Id 318.
id_pelicula = 318
recomendacion(id_pelicula)

Index([540, 94, 46, 743, 475], dtype='int64', name='movieId')

2